<html>
  <head>
      <style>#BootStrap.css</style>
      <style>
        .row {
            height: 100vh;
            display: table;
            margin: 0;
            width: 100%;
        }

        .doughnutChart {
            display: table-cell;
            float: none;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            text-align: center;
            width: 100%;
        }

        #doughnutChart {
            width: 100%;
        }
      </style>
      <meta charset="UTF-8"/>
  </head>
<body>
    <div id="doughnutData" style="display: none;">
        #doughnutDataJSON
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 doughnutChart">
                <canvas id="doughnutChart"></canvas>
            </div>
        </div>
    </div>
    <script>
        #Chart.js
    </script>
    <script>
        #Main.js
    </script>
</body>
</html>
