<html>
  <head>
      <style>#BootStrap.css</style>
      <style>
          .doughnutChart {
              margin-top: 10%;
              margin-left: 5%;
              margin-right: 5%;
          }
      </style>
      <meta charset="UTF-8"/>
  </head>
<body>
    <div id="doughnutData" style="display: none;">
        #doughnutDataJSON
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 doughnutChart">
                <canvas id="doughnutChart"></canvas>
            </div>
        </div>
    </div>
    <script>
        #Chart.js
    </script>
    <script>
        #Main.js
    </script>
</body>
</html>
