<html>
  <head>
      <style>#BootStrap.css</style>
      <style>
          .lineChart {
              margin-top: 5%;
          }
      </style>
      <meta charset="UTF-8"/>
  </head>
<body>
    <div id="lineData" style="display: none;">
        #lineDataJSON
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 lineChart">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
    <script>
        #Chart.js
    </script>
    <script>
        #Main.js
    </script>
</body>
</html>
